# Enable the Rewrite Engine
RewriteEngine On

# Prevent direct access to the app directory
RewriteRule ^app/ - [F,L]


# Avoid redirecting requests for existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to index.php for routing
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Additional security measures (optional)
# Disable directory browsing
Options -Indexes

# Protect .htaccess file itself
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

# Set up caching for static files (optional)
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType text/javascript "access plus 1 week"
    ExpiresByType application/x-javascript "access plus 1 week"
</IfModule>
